@import "../Variables/Variables.scss";

@mixin containerCards {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  position: relative;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

@mixin titleContainerCards {
  font-family: $font-secondary;
  font-size: 2rem;
  font-weight: 300;
}

@mixin containerCard {
  background-color: #9f8aff;
  border-radius: 20px;
  display: inline-flex;
  flex-direction: row;
  max-width: 90%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  padding: 1rem;
}
