@import "../Variables/Variables.scss";

@mixin toggle {
  align-items: center;
  background: $white;
  border: 1px solid $black;
  -webkit-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  cursor: pointer;
  display: flex;
  justify-content: start;
  margin: 1rem 1rem;
  padding: 0.4rem;
  position: relative;
  width: 40%;
  transition: 0.7s;
  .lupaSearch {
    margin: 0 0.5rem;
    width: 1.5rem;
  }
  .inputSearch {
    opacity: 1;
    border: none;
    transition: 0.5s;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: $black;
      font-weight: bold;
    }
  }
}
