//Variables de colores
$bg-primary: #87e9ff;
$bg-secondary: #f1f1f1;
$text-primary: #f1f1f1;
$bg-shawdon: #1995ad;
$black: #000;
$white: #fff;

//Variables fonts
$font-primary: "Poppins";
$font-secondary: "Ubuntu";
