//Variables de colores
$bg-primary: #f1f1f2;
$bg-secondary: #a1d6e2;
$text-primary: #bcbabe;
$bg-shawdon: #1995ad;
$black: #000;
$white: #fff;

//Variables fonts
$font-primary: "Poppins";
$font-secondary: "Ubuntu";
